@model ICoche

<h1>Dependency Injection</h1>

<h1 style="color:blue">
    @Model.Marca @Model.Modelo
</h1>

<h2>
    Velocidad actual: 
    <span style="color:green">@Model.Velocidad</span>
</h2>
<h1>
    Velocidad Máxima:
    <span style="color:red">@Model.VelocidadMaxima</span>
</h1>

<form method="post">
    <button name="accion" value="acelerar" class="btn btn-warning">
        Acelerar
    </button>
    <button name="accion" value="frenar" class="btn btn-danger">
        Frenar
    </button>
</form>

<img src="~/images/@Model.Imagen"
style="width: 350px; height: 300px"/>